Flask
flask-cors
python-dotenv
pyjwt
supabase
cloudinary
pinecone
huggingface_hub
langchain
langchain-google-genai
langchain-text-splitters
pymupdf
nltk
google-generativeai
httpx
retry
reportlab
beautifulsoup4
markdown
gunicorn
postgrest
